.center {
    text-align: center;
}

/* .auqlue-font { */
/*     font-family: 'Latin Modern Roman', Georgia, 'Times New Roman', Times, serif; */
/* } */

.create-auqlue {
    font-family: fantasy, inherit;
}

.a-header {
    margin-top: 15px;
    font-size: 4em;
}

.auqlue-color {
    /* color: rgba(255, 82, 0, 0.76); */
    color: rgba(0, 0, 0, 0.29)
}
